<div class="w3-white w3-text-grey w3-card-4" style="margin-bottom: 8px">
  <div class="w3-container w3-small">
    <h5 class="w3-text-grey"><i class="fa fa-check-square-o w3-margin-right w3-large w3-text-teal"></i>{{title}}</h5>
    <div *ngFor="let option of options">
      <input class="w3-radio" type="radio" name="{{key}}" [(ngModel)]="selected[key]" [value]="option.index" (ngModelChange)="optionRadioChanged()">
      <label class="w3-validate">{{ option.name }}</label>
      <br>
    </div>
    <br>
  </div>
</div>