<div class="w3-white w3-text-grey w3-card-4" style="margin-bottom: 8px">
  <div class="w3-container w3-small">
    <h5 class="w3-text-grey" style="margin-bottom: 0">
      <i class="fa fa-search w3-margin-right w3-large w3-text-teal"></i>Search Data
    </h5>
    <p style="margin-top: 4px">
      <input class="w3-input" type="text" required [(ngModel)]="selected.username" placeholder="Username">
    </p>
    <my-date-range-picker name="dateRange" [options]="dateRangeOptions" [(ngModel)]="selected.dateRange"></my-date-range-picker>
  </div>
  <div class="w3-container w3-small">
    <button class="w3-btn-block w3-section w3-teal w3-ripple" style="margin-top: 8px!important;" (click)="searchUser()">Search</button>
  </div>
</div>